.navbar{
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: solid;
}

.navbara:hover{
    color: brown;
}
